<html>
<head>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/modules/chart.js') }}"></script>  
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    
</head>
<body class="elegant-color-dark">

	<div class="container">

        <nav class="navbar navbar-expand-lg navbar-dark mt-2">

            <a class="navbar-brand" href="/inicio.html">SGE</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"  aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                <li class="nav-item">

                  <div class="dropdown">
                    <button class="btn btn-outline-info dropdown-toggle menuB" type="button" id="dropdownMenuButtonInventario" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inventario</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonInventario">
                      <a class="dropdown-item" href="/inventario.html">Crear</a>
                    </div>
                  </div>

                </li>

                <li class="nav-item">

                  <div class="dropdown">
                    <button class="btn btn-outline-info dropdown-toggle menuB" type="button" id="dropdownMenuButtonVentas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ventas</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonVentas">
                      <a class="dropdown-item" href="/ventas.html">Crear</a>
                      <a class="dropdown-item" href="/cliente.html">Clientes</a>
                    </div>
                  </div>

                </li>

                <li class="nav-item">

                  <div class="dropdown">
                    <button class="btn btn-outline-info dropdown-toggle menuB" type="button" id="dropdownMenuButtonCompras" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Compras</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonCompras">
                      <a class="dropdown-item" href="/compras.html">Crear</a>
                      <a class="dropdown-item" href="/proveedor.html">Proveedor</a>
                      <a class="dropdown-item" href="/historicoCompras.html">Histórico</a>
                    </div>
                  </div>

                </li>

              </ul>

              <form class="form-inline my-2 my-lg-0" action="/logout" method="post" role="form">

                <button id="logout" class="btn btn btn-outline-primary my-2 my-sm-0" type="button">Salir</button>

              </form>

            </div>

        </nav>

           <canvas id="pieChart" class="mt-5 mb-5"></canvas>
      
     </div>

     <!-- Footer -->
      <footer class="page-footer font-small special-color-dark pt-4">
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a href="#"> Alexsandro.Ruiz</a>
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->

</body>

<script src="{{ url_for('static', filename='js/historicoCompras.js') }}"></script>

</html>